In [5]:
# import statements
import csv
import pprint
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
% matplotlib inline
import calendar
import datetime

In [6]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.

referrals = pd.read_csv('Werner_CLC_Referrals.csv')
referrals.head()

          Date  Impressions  Click-Throughs
0  1/1/17 0:00         1087              13
1  1/2/17 0:00         1440              17
2  1/3/17 0:00         2141              19
3  1/4/17 0:00         1882              13
4  1/5/17 0:00         1883              11

In [7]:
referrals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 3 columns):
Date              334 non-null object
Impressions       334 non-null int64
Click-Throughs    334 non-null int64
dtypes: int64(2), object(1)
memory usage: 7.9+ KB

In [8]:
q1_impressions = pd.read_csv('q1_impressions.csv')
q1_impressions.head()

            SKU                                               Name    Q1
0      127-0-02  Model 127-0-02 Saddle Box, Aluminum, Full Stan...  3955
1          4830           Model 4830 JOBMASTER® Chest, 25.25 cu ft  1564
2  300105-53-01  DEFENDER SERIES 300105-53-01 Full Size Saddle ...  1467
3         PA210         PA210 10 ft-17 ft Aluminum Extension Plank  1295
4  300104-53-01  DEFENDER SERIES 300104-53-01 Compact Saddle Bo...  1131

In [9]:
q1_impressions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 3 columns):
SKU     193 non-null object
Name    193 non-null object
Q1      193 non-null int64
dtypes: int64(1), object(2)
memory usage: 4.6+ KB

In [10]:
q2_impressions = pd.read_csv('q2_impressions.csv')
q2_impressions.head()

            SKU                                               Name    Q2
0      127-0-02  Model 127-0-02 Saddle Box, Aluminum, Full Stan...  3071
1  300105-53-01  DEFENDER SERIES 300105-53-01 Full Size Saddle ...  1514
2          4830           Model 4830 JOBMASTER® Chest, 25.25 cu ft  1109
3         PA210         PA210 10 ft-17 ft Aluminum Extension Plank  1048
4  300104-53-01  DEFENDER SERIES 300104-53-01 Compact Saddle Bo...  1043

In [11]:
q2_impressions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 3 columns):
SKU     213 non-null object
Name    213 non-null object
Q2      213 non-null int64
dtypes: int64(1), object(2)
memory usage: 5.1+ KB

In [12]:
q3_impressions = pd.read_csv('q3_impressions.csv')
q3_impressions.head()

            SKU                                               Name    Q3
0      127-0-02  Model 127-0-02 Saddle Box, Aluminum, Full Stan...  2004
1  300105-53-01  DEFENDER SERIES 300105-53-01 Full Size Saddle ...  1079
2          4830           Model 4830 JOBMASTER® Chest, 25.25 cu ft   637
3  300104-53-01  DEFENDER SERIES 300104-53-01 Compact Saddle Bo...   606
4         PA210         PA210 10 ft-17 ft Aluminum Extension Plank   595

In [14]:
q3_impressions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 3 columns):
SKU     215 non-null object
Name    215 non-null object
Q3      215 non-null int64
dtypes: int64(1), object(2)
memory usage: 5.1+ KB

In [20]:
df = pd.merge(pd.merge(q1_impressions,q2_impressions,on='SKU', how='right'),q3_impressions,on='SKU', how='right')
impressions_merged = df[['SKU','Name', 'Q1', 'Q2', 'Q3']]
impressions_merged.tail()

         SKU                                               Name  Q1   Q2  Q3
210  K121053  K121053 Aerial Kit with BaseWear Std Harness, ... NaN  2.0   4
211  H013005  ProForm™ F3 H013005  Standard Harness - Quick ... NaN  2.0   2
212  H412002  BaseWear H412002 Standard (1 D Ring) Harness -... NaN  NaN  10
213  L240000         L240000 Stainless Steel Trailing Rope Grab NaN  NaN  10
214  H431002  BaseWear H431002 Positioning (3 D Rings) Harne... NaN  NaN   1

In [19]:
impressions_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215 entries, 0 to 214
Data columns (total 5 columns):
SKU     215 non-null object
Name    215 non-null object
Q1      192 non-null float64
Q2      212 non-null float64
Q3      215 non-null int64
dtypes: float64(2), int64(1), object(2)
memory usage: 10.1+ KB

In [8]:
clicks = pd.read_csv('clickthrough_product.csv')
clicks.head()

,Quarter,SKU,Name,Country Code,Click-Throughs,Unnamed: 5
0,3,300104-53-01,DEFENDER SERIES 300104-53-01 Compact Saddle Bo...,US,85,NaN
1,3,300105-53-01,DEFENDER SERIES 300105-53-01 Full Size Saddle ...,US,64,NaN
2,3,SRS-72,SRS-72 6 ft Steel Rolling Scaffold,US,51,NaN
3,3,SRG-72,SRG-72 Guard Rail and Toeboard Kit,US,47,NaN
4,3,127-0-02,"Model 127-0-02 Saddle Box, Aluminum, Full Stan...",US,44,NaN

In [9]:
clicks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 6 columns):
Quarter           514 non-null int64
SKU               514 non-null object
Name              514 non-null object
Country Code      514 non-null object
Click-Throughs    514 non-null int64
Unnamed: 5        0 non-null float64
dtypes: float64(1), int64(2), object(3)
memory usage: 24.2+ KB