In [13]:
# import statements
import csv
import pprint
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
% matplotlib inline
import calendar
import datetime

In [14]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.

referrals = pd.read_csv('Werner_CLC_Referrals.csv')
referrals.head()

          Date  Impressions  Click-Throughs
0  1/1/17 0:00         1087              13
1  1/2/17 0:00         1440              17
2  1/3/17 0:00         2141              19
3  1/4/17 0:00         1882              13
4  1/5/17 0:00         1883              11

In [15]:
referrals.tail()

              Date  Impressions  Click-Throughs
360  12/27/17 0:00          916              18
361  12/28/17 0:00          893              22
362  12/29/17 0:00          727              13
363  12/30/17 0:00          535              11
364  12/31/17 0:00          401              19

In [17]:
referrals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 3 columns):
Date              365 non-null object
Impressions       365 non-null int64
Click-Throughs    365 non-null int64
dtypes: int64(2), object(1)
memory usage: 8.6+ KB

In [19]:
# Total 2018 Impressions on Werner Ladder Page with CityLadder referall logo
referrals['Impressions'].sum()

413648

In [21]:
# Total 2018 Click-Throughs to City Ladder online store from Werner
referrals['Click-Throughs'].sum()

7186

In [22]:
# Click Through Rate (CTR) from Werner to CityLadder
referrals['Click-Throughs'].sum() / referrals['Impressions'].sum()

0.01737225853866089

In [23]:
# read in file of impressions by product for Q1 2017
q1_impressions = pd.read_csv('Q1_impressions.csv')
q1_impressions.head()

            SKU                                               Name    Q1
0      127-0-02  Model 127-0-02 Saddle Box, Aluminum, Full Stan...  3955
1          4830           Model 4830 JOBMASTER® Chest, 25.25 cu ft  1564
2  300105-53-01  DEFENDER SERIES 300105-53-01 Full Size Saddle ...  1467
3         PA210         PA210 10 ft-17 ft Aluminum Extension Plank  1295
4  300104-53-01  DEFENDER SERIES 300104-53-01 Compact Saddle Bo...  1131

In [24]:
q1_impressions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 3 columns):
SKU     193 non-null object
Name    193 non-null object
Q1      193 non-null int64
dtypes: int64(1), object(2)
memory usage: 4.6+ KB

In [25]:
# read in file of impressions by product for Q2 2017
q2_impressions = pd.read_csv('Q2_impressions.csv')
q2_impressions.head()

            SKU                                               Name    Q2
0      127-0-02  Model 127-0-02 Saddle Box, Aluminum, Full Stan...  3071
1  300105-53-01  DEFENDER SERIES 300105-53-01 Full Size Saddle ...  1514
2          4830           Model 4830 JOBMASTER® Chest, 25.25 cu ft  1109
3         PA210         PA210 10 ft-17 ft Aluminum Extension Plank  1048
4  300104-53-01  DEFENDER SERIES 300104-53-01 Compact Saddle Bo...  1043

In [29]:
# Note that we added about 20 products in Q2 - that's why we have more rows here
q2_impressions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 3 columns):
SKU     213 non-null object
Name    213 non-null object
Q2      213 non-null int64
dtypes: int64(1), object(2)
memory usage: 5.1+ KB

In [30]:
# read in file of impressions by product for Q3 2017
q3_impressions = pd.read_csv('Q3_impressions.csv')
q3_impressions.head()

            SKU                                               Name    Q3
0      127-0-02  Model 127-0-02 Saddle Box, Aluminum, Full Stan...  2004
1  300105-53-01  DEFENDER SERIES 300105-53-01 Full Size Saddle ...  1079
2          4830           Model 4830 JOBMASTER® Chest, 25.25 cu ft   637
3  300104-53-01  DEFENDER SERIES 300104-53-01 Compact Saddle Bo...   606
4         PA210         PA210 10 ft-17 ft Aluminum Extension Plank   595

In [28]:
q3_impressions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 3 columns):
SKU     215 non-null object
Name    215 non-null object
Q3      215 non-null int64
dtypes: int64(1), object(2)
memory usage: 5.1+ KB

In [38]:
# read in file of impressions by product for Q4 2017
q4_impressions = pd.read_csv('Q4_impressions.csv')
q4_impressions.head()

        SKU                                               Name    Q4
0  127-0-02  Model 127-0-02 Saddle Box, Aluminum, Full Stan...  2071
1      4824              Model 4824 JOBMASTER® Chest, 16 cu ft   474
2  TW372-30         TW372-30  2 ft Type IA Aluminum Work Stand    25
3  TW374-30         TW374-30  4 ft Type IA Aluminum Work Stand    18
4  TW373-30         TW373-30  3 ft Type IA Aluminum Work Stand    43

In [39]:
q4_impressions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 3 columns):
SKU     213 non-null object
Name    213 non-null object
Q4      213 non-null int64
dtypes: int64(1), object(2)
memory usage: 5.1+ KB

In [97]:
dfx = pd.merge(q1_impressions,q2_impressions,on='SKU',suffixes=('_q1', '_q2'),how='right')
dfx.info()
dfx = dfx[['SKU','Name_q2','Q1','Q2']]
dfx.rename(columns={'Name_q2':'Name'}, inplace=True)
dfx.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 213 entries, 0 to 212
Data columns (total 5 columns):
SKU        213 non-null object
Name_q1    193 non-null object
Q1         193 non-null float64
Name_q2    213 non-null object
Q2         213 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 10.0+ KB

,SKU,Name,Q1,Q2
0,127-0-02,"Model 127-0-02 Saddle Box, Aluminum, Full Stan...",3955.0,3071
1,4830,"Model 4830 JOBMASTER® Chest, 25.25 cu ft",1564.0,1109
2,300105-53-01,DEFENDER SERIES 300105-53-01 Full Size Saddle ...,1467.0,1514
3,PA210,PA210 10 ft-17 ft Aluminum Extension Plank,1295.0,1048
4,300104-53-01,DEFENDER SERIES 300104-53-01 Compact Saddle Bo...,1131.0,1043

In [151]:
# Merge the quarterly impressions data into a single dataframe
df = pd.merge(pd.merge(pd.merge(q1_impressions,q2_impressions,on='SKU',how='right',suffixes=('_q1', '_q2')),\
              q3_impressions,on='SKU',how='right',suffixes=('_q12', '_q3')),q4_impressions,on='SKU',how='left',suffixes=('_q3', '_q4'))
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215 entries, 0 to 214
Data columns (total 9 columns):
SKU        215 non-null object
Name_q1    192 non-null object
Q1         192 non-null float64
Name_q2    212 non-null object
Q2         212 non-null float64
Name_q3    215 non-null object
Q3         215 non-null int64
Name_q4    212 non-null object
Q4         212 non-null float64
dtypes: float64(3), int64(1), object(5)
memory usage: 16.8+ KB

,SKU,Name_q1,Q1,Name_q2,Q2,Name_q3,Q3,Name_q4,Q4
0,127-0-02,"Model 127-0-02 Saddle Box, Aluminum, Full Stan...",3955.0,"Model 127-0-02 Saddle Box, Aluminum, Full Stan...",3071.0,"Model 127-0-02 Saddle Box, Aluminum, Full Stan...",2004,"Model 127-0-02 Saddle Box, Aluminum, Full Stan...",2071.0
1,4830,"Model 4830 JOBMASTER® Chest, 25.25 cu ft",1564.0,"Model 4830 JOBMASTER® Chest, 25.25 cu ft",1109.0,"Model 4830 JOBMASTER® Chest, 25.25 cu ft",637,"Model 4830 JOBMASTER® Chest, 25.25 cu ft",613.0
2,300105-53-01,DEFENDER SERIES 300105-53-01 Full Size Saddle ...,1467.0,DEFENDER SERIES 300105-53-01 Full Size Saddle ...,1514.0,DEFENDER SERIES 300105-53-01 Full Size Saddle ...,1079,DEFENDER SERIES 300105-53-01 Full Size Saddle ...,1236.0
3,PA210,PA210 10 ft-17 ft Aluminum Extension Plank,1295.0,PA210 10 ft-17 ft Aluminum Extension Plank,1048.0,PA210 10 ft-17 ft Aluminum Extension Plank,595,PA210 10 ft-17 ft Aluminum Extension Plank,570.0
4,300104-53-01,DEFENDER SERIES 300104-53-01 Compact Saddle Bo...,1131.0,DEFENDER SERIES 300104-53-01 Compact Saddle Bo...,1043.0,DEFENDER SERIES 300104-53-01 Compact Saddle Bo...,606,DEFENDER SERIES 300104-53-01 Compact Saddle Bo...,588.0

In [163]:
# Trim the dataframe down to the necessary columns
impressions_2017 = df[['SKU','Name_q3', 'Q1', 'Q2', 'Q3','Q4']]
impressions_2017.rename(columns={'Name_q3':'Name'}, inplace=True)
impressions_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 0 to 206
Data columns (total 6 columns):
SKU     207 non-null object
Name    173 non-null object
Q1      160 non-null float64
Q2      181 non-null float64
Q3      173 non-null float64
Q4      173 non-null float64
dtypes: float64(4), object(2)
memory usage: 11.3+ KB

/Users/jasonhorowitz/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [164]:
impressions_2017.head()

,SKU,Name,Q1,Q2,Q3,Q4
0,300104-53-01,DEFENDER SERIES 300104-53-01 Compact Saddle Bo...,73.0,71.0,85.0,30.0
1,300105-53-01,DEFENDER SERIES 300105-53-01 Full Size Saddle ...,67.0,82.0,64.0,71.0
2,300106-53-01,DEFENDER SERIES 300106-53-01 Full Size Lo-Prof...,64.0,94.0,30.0,24.0
3,127-0-02,"Model 127-0-02 Saddle Box, Aluminum, Full Stan...",51.0,41.0,44.0,55.0
4,T7414,T7414 14 ft Type IA Fiberglass Twin Ladder,46.0,23.0,27.0,25.0

In [127]:
# impressions_merged['Total']= impressions_merged['Q1']+ impressions_merged['Q2']+ impressions_merged['Q3']
impressions_2017['Total']= impressions_2017.apply(lambda row: row['Q1'] + row['Q2'] + row ['Q3'] + row['Q4'],axis=1)
impressions_2017 = impressions_2017.sort_values('Total', ascending=False)
impressions_2017 = impressions_2017.reset_index(drop=True)

/Users/jasonhorowitz/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [128]:
# Top 20 products by total impressions on Werner Site
impressions_2017.head(20)

,SKU,Name,Q1,Q2,Q3,Q4,Total
0,127-0-02,"Model 127-0-02 Saddle Box, Aluminum, Full Stan...",3955.0,3071.0,2004,2071.0,11101.0
1,300105-53-01,DEFENDER SERIES 300105-53-01 Full Size Saddle ...,1467.0,1514.0,1079,1236.0,5296.0
2,4830,"Model 4830 JOBMASTER® Chest, 25.25 cu ft",1564.0,1109.0,637,613.0,3923.0
3,PA210,PA210 10 ft-17 ft Aluminum Extension Plank,1295.0,1048.0,595,570.0,3508.0
4,300104-53-01,DEFENDER SERIES 300104-53-01 Compact Saddle Bo...,1131.0,1043.0,606,588.0,3368.0
5,300105-9-01,DEFENDER SERIES 300105-9-01 Full Size Saddle B...,795.0,846.0,530,516.0,2687.0
6,4824,"Model 4824 JOBMASTER® Chest, 16 cu ft",998.0,740.0,458,474.0,2670.0
7,PJ-100,PJ-100 Aluminum Pump Jack,1007.0,682.0,387,349.0,2425.0
8,D6224-2,D6224-2 24 ft Type IA Fiberglass D-Rung Extens...,835.0,699.0,380,365.0,2279.0
9,T7416,T7416 16 ft Type IA Fiberglass Twin Ladder,961.0,630.0,330,338.0,2259.0
10,300106-53-01,DEFENDER SERIES 300106-53-01 Full Size Lo-Prof...,676.0,699.0,333,387.0,2095.0
11,SRS-72,SRS-72 6 ft Steel Rolling Scaffold,756.0,534.0,393,383.0,2066.0
12,T7420,T7420 20 ft Type IA Fiberglass Twin Ladder,832.0,545.0,306,305.0,1988.0
13,PD6206,PD6206 Type IA Fiberglass Podium Ladder,732.0,489.0,344,357.0,1922.0
14,D6228-2,D6228-2 28 ft Type IA Fiberglass D-Rung Extens...,611.0,640.0,346,318.0,1915.0
15,89,"Model 89 STORAGEMASTER® Piano Box, 47.8 cu ft",523.0,538.0,325,288.0,1674.0
16,PA208,PA208 8 ft -13 ft Aluminum Extension Plank,569.0,429.0,304,229.0,1531.0
17,T7414,T7414 14 ft Type IA Fiberglass Twin Ladder,647.0,373.0,219,242.0,1481.0
18,300401-53-01,DEFENDER SERIES 300401-53-01 Universal Chest B...,474.0,512.0,175,244.0,1405.0
19,PD6210,PD6210 Type IA Fiberglass Podium Ladder,452.0,352.0,283,279.0,1366.0

In [129]:
# read in quarterly files of click throughs (to cityladderco.com) by product
q1_clicks = pd.read_csv('Q1_clicks.csv')
q1_clicks.head()

            SKU                                               Name  Q1
0  300104-53-01  DEFENDER SERIES 300104-53-01 Compact Saddle Bo...  73
1  300105-53-01  DEFENDER SERIES 300105-53-01 Full Size Saddle ...  67
2  300106-53-01  DEFENDER SERIES 300106-53-01 Full Size Lo-Prof...  64
3      127-0-02  Model 127-0-02 Saddle Box, Aluminum, Full Stan...  51
4         T7414        T7414  14 ft Type IA Fiberglass Twin Ladder  46

In [130]:
q1_clicks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 3 columns):
SKU     160 non-null object
Name    160 non-null object
Q1      160 non-null int64
dtypes: int64(1), object(2)
memory usage: 3.8+ KB

In [131]:
q2_clicks = pd.read_csv('Q2_clicks.csv')
q2_clicks.head()

            SKU                                               Name  Q2
0  300106-53-01  DEFENDER SERIES 300106-53-01 Full Size Lo-Prof...  94
1  300105-53-01  DEFENDER SERIES 300105-53-01 Full Size Saddle ...  82
2  300104-53-01  DEFENDER SERIES 300104-53-01 Compact Saddle Bo...  71
3      127-0-02  Model 127-0-02 Saddle Box, Aluminum, Full Stan...  41
4         PA210         PA210 10 ft-17 ft Aluminum Extension Plank  40

In [132]:
q2_clicks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 3 columns):
SKU     181 non-null object
Name    181 non-null object
Q2      181 non-null int64
dtypes: int64(1), object(2)
memory usage: 4.3+ KB

In [133]:
q3_clicks = pd.read_csv('Q3_clicks.csv')
q3_clicks.head()

            SKU                                               Name  Q3
0  300104-53-01  DEFENDER SERIES 300104-53-01 Compact Saddle Bo...  85
1  300105-53-01  DEFENDER SERIES 300105-53-01 Full Size Saddle ...  64
2        SRS-72                 SRS-72 6 ft Steel Rolling Scaffold  51
3        SRG-72                SRG-72  Guard Rail and Toeboard Kit  47
4      127-0-02  Model 127-0-02 Saddle Box, Aluminum, Full Stan...  44

In [134]:
q3_clicks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 3 columns):
SKU     173 non-null object
Name    173 non-null object
Q3      173 non-null int64
dtypes: int64(1), object(2)
memory usage: 4.1+ KB

In [136]:
q4_clicks = pd.read_csv('Q4_clicks.csv')
q4_clicks.head()

        SKU                                               Name  Q4
0  127-0-02  Model 127-0-02 Saddle Box, Aluminum, Full Stan...  55
1      4824              Model 4824 JOBMASTER® Chest, 16 cu ft  14
2  TW372-30         TW372-30  2 ft Type IA Aluminum Work Stand   5
3  TW374-30         TW374-30  4 ft Type IA Aluminum Work Stand   1
4  TW373-30         TW373-30  3 ft Type IA Aluminum Work Stand   5

In [137]:
q4_clicks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 3 columns):
SKU     173 non-null object
Name    173 non-null object
Q4      173 non-null int64
dtypes: int64(1), object(2)
memory usage: 4.1+ KB

In [165]:
# merge the click-through dataframes and trim the resulting larger dataframe
df = pd.merge(pd.merge(pd.merge(q1_clicks,q2_clicks,on='SKU',how='outer',suffixes=('_q1', '_q2')),\
              q3_clicks,on='SKU',how='outer',suffixes=('_q12', '_q3')),q4_clicks,on='SKU',how='outer',suffixes=('_q3', '_q4'))
# df.info()
# df
clicks_2017 = df[['SKU','Name_q2', 'Q1', 'Q2', 'Q3', 'Q4']]
clicks_2017.rename(columns={'Name_q2':'Name'}, inplace=True)

/Users/jasonhorowitz/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [166]:
clicks_2017.head()

,SKU,Name,Q1,Q2,Q3,Q4
0,300104-53-01,DEFENDER SERIES 300104-53-01 Compact Saddle Bo...,73.0,71.0,85.0,30.0
1,300105-53-01,DEFENDER SERIES 300105-53-01 Full Size Saddle ...,67.0,82.0,64.0,71.0
2,300106-53-01,DEFENDER SERIES 300106-53-01 Full Size Lo-Prof...,64.0,94.0,30.0,24.0
3,127-0-02,"Model 127-0-02 Saddle Box, Aluminum, Full Stan...",51.0,41.0,44.0,55.0
4,T7414,T7414 14 ft Type IA Fiberglass Twin Ladder,46.0,23.0,27.0,25.0

In [171]:
# Sum and sort 2017 clicks by total
clicks_2017['Total']= clicks_2017.apply(lambda row: row['Q1'] + row['Q2'] + row ['Q3']+ row ['Q4'], axis=1)
clicks_2017 = clicks_2017.sort_values('Total', ascending=False)
clicks_2017 = clicks_2017.reset_index(drop=True)

In [170]:
# Top 20 products by click-throughs from Werner
clicks_2017.head(20)

,SKU,Name,Q1,Q2,Q3,Q4,Total
0,300105-53-01,DEFENDER SERIES 300105-53-01 Full Size Saddle ...,67.0,82.0,64.0,71.0,284.0
1,300104-53-01,DEFENDER SERIES 300104-53-01 Compact Saddle Bo...,73.0,71.0,85.0,30.0,259.0
2,300106-53-01,DEFENDER SERIES 300106-53-01 Full Size Lo-Prof...,64.0,94.0,30.0,24.0,212.0
3,127-0-02,"Model 127-0-02 Saddle Box, Aluminum, Full Stan...",51.0,41.0,44.0,55.0,191.0
4,SRS-72,SRS-72 6 ft Steel Rolling Scaffold,40.0,27.0,51.0,47.0,165.0
5,SRG-72,SRG-72 Guard Rail and Toeboard Kit,39.0,38.0,47.0,25.0,149.0
6,PA210,PA210 10 ft-17 ft Aluminum Extension Plank,34.0,40.0,39.0,36.0,149.0
7,300401-9-01,DEFENDER SERIES 300401-9-01 Universal Chest Bo...,22.0,40.0,29.0,37.0,128.0
8,300105-9-01,DEFENDER SERIES 300105-9-01 Full Size Saddle B...,30.0,31.0,36.0,27.0,124.0
9,T7414,T7414 14 ft Type IA Fiberglass Twin Ladder,46.0,23.0,27.0,25.0,121.0
10,D6224-2,D6224-2 24 ft Type IA Fiberglass D-Rung Extens...,17.0,38.0,22.0,32.0,109.0
11,T7416,T7416 16 ft Type IA Fiberglass Twin Ladder,26.0,26.0,25.0,29.0,106.0
12,D6228-2,D6228-2 28 ft Type IA Fiberglass D-Rung Extens...,25.0,37.0,16.0,15.0,93.0
13,T7418,T7418 18 ft Type IA Fiberglass Twin Ladder,19.0,17.0,26.0,26.0,88.0
14,T7420,T7420 20 ft Type IA Fiberglass Twin Ladder,26.0,18.0,20.0,20.0,84.0
15,300401-53-01,DEFENDER SERIES 300401-53-01 Universal Chest B...,23.0,32.0,10.0,13.0,78.0
16,4830,"Model 4830 JOBMASTER® Chest, 25.25 cu ft",26.0,25.0,8.0,18.0,77.0
17,300106-9-01,DEFENDER SERIES 300106-9-01 Full Size Lo-Profi...,25.0,26.0,12.0,12.0,75.0
18,PD6206,PD6206 Type IA Fiberglass Podium Ladder,18.0,18.0,18.0,21.0,75.0
19,300207-53-01,DEFENDER SERIES 300207-53-01 Full Size Cross B...,18.0,30.0,13.0,13.0,74.0